body{
    padding:0;
    margin:0;
    font-family: 'Helvetica';
    z-index: 1;
    background-color: #e2e2e2;
}

p {
    font-size: 16px;
    word-wrap: break-word;
    font-size: medium;
    line-height: 1.45;
    margin-bottom: 0.6rem;
}

a {
    color:#1c87c9;text-decoration: none; transition:.2s;
}
a:hover {color:#262f48}

.picture {
    background: url(../drinksImage.jpeg) no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(3px);
    -webkit-filter: blur(3px);
    object-fit: contain;
    transform: scale(1.1);

    width:100%;
    height: 100%;
    position:fixed;
    left:0;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    right:0;
    width:100%;
    height:100%;
    z-index: 2;
}

.contentBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;

    background: #e2e2e2e0;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 0%) 0px 19px 10px, rgb(0 0 0 / 12%) 0px 15px 12px;
}

.getStarted {
    margin-bottom: 2rem;
    font-size: 3.2rem;
    text-align: center;
}

.googleLoginButton {
    background-color: #d12c41;
    border-radius: 4px;
    margin-bottom: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-right: 1.5rem;
    padding-bottom: .15rem;
    padding-top: .15rem;
    padding-left: .15rem;

    cursor: pointer;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.googleLoginButton:hover {
    background-color: #b81228;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.googleLoginButton span {
    font-size: 1.5rem;
    font-family: Roboto,arial,sans-serif;
    color: #fff;
}

.GoogleIcon {
    background-color: white;
    padding: 15px;
    margin-right: 15px;
    border-radius: 2px;
}

.guestLogin a {
    font-weight: 200;
    font-size: 1.3rem;
    color: black;
}

.guestLogin a:hover {
    color: #1c87c9;
}

@media (max-width: 630px) {
    .contentBox {
        width:100%;
        border-radius: 0;
        padding: 2rem;
    }
    
    .shareTeaLogo {
        padding-bottom: 1rem;
    }

    .shareTeaLogo img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}


.name {
    font-size: 2.5rem !important;
}

.secondaryButton {
    background-color: #ffffff;
    border-radius: 1rem;
    margin-top: 1.2rem;
    padding:10px;
    color: black;
    font-size: 1.4rem;

}

.secondaryButton:hover {
    background-color: #e2e2e2;
}