body{
    padding:0;
    margin:0;
    font-family: 'Helvetica';
    z-index: 1;
    background-color: rgb(255, 255, 255);
}
p {
    font-size: 16px;
    word-wrap: break-word;
    font-size: medium;
    line-height: 1.45;
}

a {
    color:#1c87c9;text-decoration: none; transition:.2s;
}
a:hover {color:#262f48}

/*.navStatic {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.navBar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px; 
    box-sizing: border-box;
    pointer-events: none;
}*/

.shareTeaLogo {
    position: fixed;
    z-index: 11;
    top: 0;
    left:0;
    margin-top: 20px;

}

.checkout {
    position: fixed;
    right: 0;
    z-index: 12;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.btn-primary {
    --bs-btn-bg: #ff9999;
}

.button-container::before {
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: auto; 
}

.content {
    width: 100vw;
    top: 0;
    margin-top: 50px; 
    min-height: calc(100vh - 95px);
    background: linear-gradient( to bottom, rgb(255, 255, 255), rgb(176, 176, 176));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menuDropdown {
    overflow: hidden;
    max-height: 5.5em;
    width: 60%;
    z-index: 3;
    padding: 0 30px 30px 30px;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    margin: 50px 0 40px;
    cursor: pointer;
}

.menuDropdown h1 {
    padding:  22px 0 22px 0;
    cursor: pointer;
    width: fit-content;
    user-select: none;
    -webkit-user-select: none;
}

.menuDropdown.active {
    max-height: fit-content;
    cursor: auto;
}

.menuDropdown:has(:not(.active)) h1::after {
    content: "Read more";
}

.menuDropdown .active h1::after {
    content: "Read less";
}

.menuDropdown h1::after {
    color: blue;
    padding-left: 15px;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

.menuCategory {
    width: 100%;
    cursor: pointer;
}

.menuItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menuItemBox {
    margin: 20px;
    width: 15%;
    text-align: center;
    /*background-color: #ff9999;*/
}

.menuItem {
    width: 20%;
    height: 100px;
    padding: 100px;
}

.menuItemName {
    height: 4rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.1rem;
    
}

.menuItemcalories {
    font-size: 1rem;
}

.modal-backdrop {
    background-color: transparent;
    z-index: 100;
}

.btnMenu {
  align-items: center;
  background-color: #fff;
  border-radius: 13px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, 0.176) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  font-size: .8 rem;
  font-weight: 200;
  line-height: 1;
  padding: .7rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnMenu:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}