#board {
    -webkit-column-count: 3;
    -webkit-column-gap:   20px;
    -moz-column-count:    3;
    -moz-column-gap:      10px;
    column-count:         3;
    column-gap:           0px;
}

#category {
    font-size: 200%;
}

#item {
    font-size: 100%;
}
