body{
    background-color: bisque;
    background-image: url(blurred_bg.jpg);
    background-size:100%;
}

#page{
    
}

#board {
    margin-top:1%;
    column-gap: 0px;
}

#category {
    font-size: 200%;
}

#item {
    font-size: 100%;
}

#bruh{
    text-align: center;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:auto;
}

#header{
    margin-bottom: 4%;
}

#endCard{

}

.toppingList{
    column-count: 3;
    column-gap: 30px;
    margin:0px;
}

.sweet{
    width:40px;
    height:40px;
}

.card{
    margin-bottom:15px;
    background-color: rgba(240, 216, 185, 0.8);
}


