html, body {
    height: 100%;
}

.container-narrow > hr {
    margin: 30px 0;
}

.btn-google-plus-style {
    background-color: hsl(0, 91%, 31%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f64141", endColorstr="#960707");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f64141), to(#960707));
    background-image: -moz-linear-gradient(top, #f64141, #960707);
    background-image: -ms-linear-gradient(top, #f64141, #960707);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f64141), color-stop(100%, #960707));
    background-image: -webkit-linear-gradient(top, #f64141, #960707);
    background-image: -o-linear-gradient(top, #f64141, #960707);
    background-image: linear-gradient(#f64141, #960707);
    border-color: #960707 #960707 hsl(0, 91%, 23.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
    -webkit-font-smoothing: antialiased;
}

.btn-github-style {
    background-color: hsl(0, 0%, 10%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#515151", endColorstr="#191919");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#515151), to(#191919));
    background-image: -moz-linear-gradient(top, #515151, #191919);
    background-image: -ms-linear-gradient(top, #515151, #191919);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #515151), color-stop(100%, #191919));
    background-image: -webkit-linear-gradient(top, #515151, #191919);
    background-image: -o-linear-gradient(top, #515151, #191919);
    background-image: linear-gradient(#515151, #191919);
    border-color: #191919 #191919 hsl(0, 0%, 4.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
    -webkit-font-smoothing: antialiased;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.jumbotron {
    background: #e2e2e2e0;
}
.picture {
    background: url(../drinksImage.jpeg) no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(3px);
    -webkit-filter: blur(3px);
    object-fit: contain;
    transform: scale(1.1);

    width:100%;
    height: 100%;
    position:fixed;
    left:0;
    z-index: -1;
}

.accessButton {
    position: fixed !important;
    right: 20px;
    bottom: 40px;
    z-index: 10 !important;
    
    @media (max-width: 600px) {
        top: 0 !important;
        bottom: auto !important;
        right: 0px !important;
        left: auto !important;
    }
}

.secondaryButton {
    background-color: #ffffff;
    border-radius: 1rem;
    margin-top: 1.2rem;
    padding:10px;
    color: black;
    font-size: 1.4rem;

}

.secondaryButton:hover {
    background-color: #e2e2e2;
}

#dropdownMenuButton {
    border-radius: 7rem !important;
    --bs-btn-color: #fff0 !important;
    --bs-btn-bg: #fff0 !important;
    --bs-btn-border-color: #fff0 !important;
    --bs-btn-hover-color: #fff0 !important;
    --bs-btn-hover-bg: rgba(255, 255, 255, 0) !important;
    --bs-btn-hover-border-color: #fff0 !important;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff0 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff0 !important;
    --bs-btn-disabled-bg: #fff0 !important;
    --bs-btn-disabled-border-color: #fff0 !important;
    --bs-btn-active-border-color: #fff0 !important;
    --bs-btn-active-bg: #fff0 !important;
    background-color: #fff0 !important;
    border-color: #fff0 !important;
}

.goog-te-gadget-icon {
    display:none;
}

.goog-te-gadget-simple {
    background-color: #ffffff !important;
    border:0 !important;
    font-size: .9rem !important;
    font-weight: 500;
    display: inline-block;
    padding:10px 10px !important;
    zoom: 1;
}
  
.goog-te-gadget-simple  span {
    color:#000000 !important;
}

.dropdown-menu {
    background: #ffffff !important;
    --bs-dropdown-link-disabled-color: black !important;
}

.textResizeGroup {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.fontResizeButton {
    border-width: 1px;
    border-radius: 0.3rem;
    margin-right: 10px;
    border: none;
    background: #e2e2e2;
}

.fontResizeButton:hover {
    background: rgb(169, 169, 169)
}