.logoutButton {
    background: url(../logout-svgrepo-com.svg) no-repeat;
    background-size: contain;
    width: 25px;
    border: none;
    height: 25px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.navbar {
    position: fixed !important;
    z-index: 1000 !important;
    width: 100% !important;
    top:0 !important;
}


.accessButton {
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 10 !important;
    
    @media (max-width: 600px) {
        top: 0 !important;
        bottom: auto !important;
        right: 0px !important;
        left: auto !important;
    }
}