.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
}

.nav > li > a.active {
    border: 1px solid #ddd;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.tab-content {
    width: 100%;
}

.row {
    width: 100%;
}

.navbar {
    position: fixed !important;
    z-index: 1000 !important;
    width: 100% !important;
    top:0 !important;
}

.navCustom {
    margin-top: 55px;
}
